*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    height: 700px;
    background-color:black;
}
.nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px;
}
.nav ul{
    width: 25%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
.nav ul img{
    width: 50px;
    height: 50px;


}
.nav ul li{
    list-style: none;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: white;
    

}
.icon{
    width: 15%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon span i{
    font-size: 25px;
    color: white;
    padding-left: 10px;
    
}
/* ************************container****************** */

.container{
    width: 100%;
    height: 350px;
    color: white;
    padding-inline: 60px;
    display: flex;
    
}
.container-left{
    width: 50%;
    height: 350px;
    
}
.container-text{
    width: 100%;
    height: 330px;
    padding-top: 50px;
}
.container-text h3{
    font-size: 60px;
    font-weight: 300;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container-text h2{
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.container-text p{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.container-text span{
    display: flex;
    align-items: center;
    padding-top: 20px;
    
}
.container-text span button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(194, 56, 6);
    border: none;
    color: white;
    font-size: 15px;
   
}
.container-text span h4{
    font-size: 18px;
    padding-left: 20px;
}
.container-right{
    width: 50%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.circle1{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top: 0;

}
.circle2{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top:10% ;
    

}
.circle3{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    top:20% ;


}
.circle4{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.circle4 img{
    width: 250px;
    height: 250px;

}
/* ****************container1******************* */

.container1{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2{
    width: 90%;
    height: 250px;
    background-color: yellow;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.box{
    width: 120px;
    height: 150px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box img{
    width: 80px;
    height: 50px;

}
.box h6{
    font-size: 15px;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
}





@media (max-width:768px) {
    .main-container{
        width: 100%;
        height: 600px;
    }
    .nav{
        width: 100%;
        height: 50PX;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .nav ul {
        display: none;
    }
    .icon span i{
        font-size: 15px;
    }
    .container{
        width: 100%;
        height: 400px;
        flex-direction: column;
    }
    .container-left{
        width: 100%;
        height: 250px;
    }
    .container-text{
        width: 100%;
        height: 250px;
        padding-top: 20px;
    }
    .container-text h2{
        font-size: 30px;
    }
    .container-text h3{
        font-size: 30px;

    }
    .container-text p{
        font-size: 14px;
    }
    .container-text span button{
        width: 80px;
        font-size: 12px;
    }
    .container-text span h4{
        font-size: 12px;
    }
    .container-right{
        width: 100%;
        height: 250px;
    }
    .container1{
        display: none;
    }
    .container-right{
        width: 100%;
        height: 300px;
    }
    .circle1{
        display: none;
    }
    .circle2{
        display: none;
    }
    .circle3{
        display: none;
    }
    .circle4 img{
        width: 300px;
        height: 300px;
    }

    
}